body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #9ae2a8;
  }
  h1 {
    color: #ff0000;
  }
  
.center-image {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
  }