body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d6f2ff;
  }
  h1 {
    color: #040000;
  }
  
.center-image {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
  }